html {
    background-image: url(backround.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-repeat: no-repeat;

}
body{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


